@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: white;
}

ion-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

ion-content {
  --background: #32a89b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  margin-bottom: 20px;
  padding-top: 15%;
  text-shadow: 3px 3px 3px #013942;
}


ion-item {
  --background: #146b69;;
  color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 15rem;
}

ion-label {
  color: #ccc;
}

ion-input {
  color: white;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
}

ion-button {
  --background: #005865;
  --background-activated: #03353a;
  --color: white;
  width: 10rem;
  height: 2rem;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px auto; 
}