@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: white;
}

ion-header {
  background: linear-gradient(45deg, #aafec5, #83c5ff);
  color: white;
}

ion-toolbar {
  --background: transparent;
  color: white;
}

ion-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

ion-content {
  --background: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 1.8rem;
  text-align: center;
}

ion-item {
  --background: #333;
  color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 15rem;
}

ion-label {
  color: #ccc;
}

ion-input {
  color: white;
  border-radius: 20px;
  width: 100%;
  padding: 12px;
}

ion-button {
  --background: #83c5ff;
  --background-activated: #555;
  --color: white;
  width: 100%;
  max-width: 15rem;
  height: 3rem;
  border-radius: 20px;
  margin-top: 15px;
  text-align: center;
}
