
<ion-content [fullscreen]="true">

  <div *ngIf="loading" class="loading-container">
    <img src="./assets/icon/dino loading.gif" alt="Cargando...">
  </div>


  <div (click)="scheduleWelcomeNotification()">
    <img src="./assets/icon/Dinotes logo.png" alt="Dinotes Logo" class="logo"/>
  </div>

  <div class="container" [@slideInOut]>
    <h5 id="slogan">
      ¡Bienvenido a Dinotes!<br>Captura tus ideas<br> antes de que se extingan.
    </h5>
    
    <div>
      <form (ngSubmit)="Iniciarsesion()">
        <ion-item>
          <ion-label position="stacked">Nombre de usuario</ion-label>
          <ion-input type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="contra" name="contraseña" required></ion-input>
        </ion-item>     
      </form>
      <div id="botones">
      <ion-row class="login-button">
        <ion-button expand="full" type="submit">Iniciar sesión</ion-button>
        <ion-button expand="full" [routerLink]="['/newuser']">
          Añadir usuario
        </ion-button>
      </ion-row>
      <div class="forget-password">
      <ion-button expand="full" [routerLink]="['/restpass']">
        Olvidé mi contraseña
      </ion-button>
  </div>
    </div>
    </div>
  </div>

 
</ion-content>
