
<ion-content [fullscreen]="true">

  <div *ngIf="loading" class="loading-container">
    <img src="./assets/icon/dino loading.gif" alt="Cargando...">
  </div>

  <div class="container" [@slideInOut]>
  
    <img src="./assets/icon/Dinotes logo.png" alt="Dinotes Logo" class="logo"/>
    <h1 id="title">Bienvenido a Dinotes</h1>
    <h5 id="slogan">Captura tus ideas antes de que se extingan.</h5>
    <div id="botones">
      <form (ngSubmit)="Iniciarsesion()">
        <ion-item>
          <ion-label position="stacked">Nombre de usuario</ion-label>
          <ion-input type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="contra" name="contraseña" required></ion-input>
        </ion-item>
        <ion-row class="login-button">
        <ion-button expand="full" type="submit">Iniciar sesión</ion-button>
      </ion-row>
      <ion-row class="newuser-button">
          <ion-button expand="full" [routerLink]="['/newuser']">
            Crear nuevo usuario
          </ion-button>
        </ion-row>
      </form>
      <div class="forget-password">
      <ion-button expand="full" [routerLink]="['/restpass']">
        Olvidé mi contraseña
      </ion-button>
    </div>
    </div>
  </div>
</ion-content>
