<!-- login.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dinotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor de carga -->
  <div *ngIf="loading" class="loading-container">
    <img src="./assets/icon/dino loading.gif" alt="Cargando...">
  </div>

  <div class="container" [@slideInOut]>
    <h2>Bienvenido a Dinotes</h2>
    <img src="./assets/icon/Dinotes logo.png" alt="Dinotes Logo" class="logo"/>
    <h5>Captura tus ideas antes de que se extingan.</h5>
    <div id="botones">
      <form (ngSubmit)="Iniciarsesion()">
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input type="text" [(ngModel)]="nombre" name="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="contra" name="contraseña" required></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit">Iniciar sesión</ion-button>
      </form>

      <ion-button expand="full" [routerLink]="['/newuser']">
        Crear Nuevo Usuario
      </ion-button>
      <ion-button expand="full" [routerLink]="['/restpass']">
        Olvidé mi contraseña
      </ion-button>
    </div>
  </div>
</ion-content>
