body {
    --ion-background-color: white ;
    --ion-color-primary: #aac7f1;
    --ion-text-color: black;
    --ion-toolbar-color: linear-gradient(45deg, #aafec5, #83c5ff);
      
  }
  
body.dark {
    --ion-background-color: rgb(34, 35, 38); 
    --ion-color-primary: #1c1c2a; 
    --ion-text-color: white;
    --ion-toolbar-color: linear-gradient(45deg, #aafec5, #83c5ff);
  }
  
  