<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" ion-button routerLink="/home" class="ion-no-padding">  
      <ion-icon name="arrow-back"></ion-icon>
      </ion-buttons>
    <ion-title>Calendario</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content id="calendario">
  
  
  <ion-item class="calendarioBkn">  
    
    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="selectedDate" (ionChange)="selectDate($event)"></ion-datetime>
    
  </ion-item>
  

  <ion-item>
    <ion-button slot="end" expand="full" routerLink="/agenda">Consultar feriados 2024</ion-button>
    <h3>---</h3>
    <ion-label position="floating">Escribe tu evento aquí</ion-label>
    <ion-input [(ngModel)]="event"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="addEvent()">Agregar evento</ion-button>

  <ion-list>
    <ion-item *ngFor="let e of events">
      <ion-label>
        <h2>{{ e.date }}</h2>
        <p>{{ e.event }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
