<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" ion-button routerLink="/calendario" class="ion-no-padding">       
      <ion-icon name="arrow-back"></ion-icon>
      </ion-buttons>
    <ion-title>Feriados en Chile - 2024</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let holiday of holidays">
      <ion-label>
        <h2>{{ holiday.localName }}</h2>
        <p>{{ holiday.date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
