@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body{
--background-color: aquamarine !important;
}

ion-header {
  --background: linear-gradient(45deg, #83c5ff, #aafec5) !important;
  }