<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="center-title">
      Bienvenido {{ usuarioActual }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Contenido del Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding center-content">
      <h3>{{ usuarioActual }}</h3>
      <h4>Activar modo claro u oscuro</h4>

      <ion-toggle [(ngModel)]="isDarkMode" (ionChange)="toggleTheme($event)"></ion-toggle>

      
      <ion-button expand="full" [routerLink]="['/calendario', { userId: usuarioActual }]">
        Ir al calendario
      </ion-button>
      <ion-button expand="full" (click)="cerrarSesion()">Cerrar sesión</ion-button>
      <div class="gif-container" *ngIf="isLoggingOut">
        <img src="assets/icon/dino-bye.gif" alt="Cerrando sesión" height="30%" width="auto" />
        <h4>Hasta pronto :)</h4>
      </div>
    </ion-content>
  
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Notas</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding center-content">
      <h2>¿Qué escribirás hoy?</h2>

      <ion-list class="NotasAnimacion" *ngIf="contenedovisible === 'listaNotas'">
        <ion-item *ngFor="let nota of notasUsuarioActual" lines="none">
          <div *ngIf="!nota.editando">
            <p style="opacity: 0.7; font-size: 0.9em;">{{ nota.fecha }}</p>
            <p>{{ nota.contenido }}</p>
        
            <img class="ImgNota" *ngIf="nota.imgUrl" [src]="nota.imgUrl" alt="Imagen de la nota" />
            
            <ion-item>
            <ion-button color="dark" (click)="iniciarEdicion(nota)">Editar</ion-button>
            <ion-button color="dark" (click)="eliminarNota(nota.id)">Eliminar</ion-button>
            <ion-button color="dark" (click)="seleccionarImagen(nota.id)">Añadir Imagen</ion-button>
            </ion-item>
          </div>
          <div *ngIf="nota.editando">
            <ion-textarea [(ngModel)]="nuevoContenido" rows="6" placeholder="Editar nota"></ion-textarea>
            <ion-button color="dark" (click)="guardarEdicion(nota)">Guardar</ion-button>
            <ion-button color="dark" (click)="cancelarEdicion(nota)">Cancelar</ion-button>
          </div>
        </ion-item>
        
        
      </ion-list>

      <div *ngIf="contenedovisible === 'nuevaNota'">
        <ion-item>
          <ion-label position="floating">Agregar nueva nota</ion-label>
          <ion-textarea [(ngModel)]="nuevaNota" rows="3"></ion-textarea>
        </ion-item>
        
        <ion-button expand="full" (click)="agregarNota(nuevaNota)">Agregar Nota</ion-button>
        <ion-button expand="full" (click)="AlternarVentanas()">Cancelar</ion-button>
      </div>
    </ion-content>
  </div>

  <ion-fab *ngIf="contenedovisible === 'listaNotas'" vertical="bottom" horizontal="end" slot="fixed" class="boton-flotante">
    <ion-fab-button class="botonMas"  (click)="AlternarVentanas()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
<!--<ion-footer>
  <div class="gif-footer">
    <img src="assets/icon/dino-gif.gif" alt="GIF final" />
  </div>
</ion-footer>-->
</ion-content>